body {
  font-family: Arial;
  margin: 0;
}

nav {
  background: #111;
  padding: 10px;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

section {
  padding: 40px;
}

.project-card {
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
